
.header img{
	clear:right;
	display: block;
	margin: auto;
	height:92px;
	width:272px;
	margin-top: 89px;
	padding-top:109px;
}
.search {
	display:flex;  /*centering with a flexbox*/
	justify-content: center;
	align-items: center;
	min-width: 500px; /*prevent resizing issues when zooming in*/
	min-height:35px;
}
.search form input{
	font: 20px arial,sans-serif;
	position:relative;
	bottom:40px;
	width:503px;
	height:38px;
}
.search form input:hover{
	border-color:darkgray;
	border-width: 2px;
}
#country{
	clear:right;
	position:relative;
	color:#4285F4;
	font:16px roboto-regular, arial, sans-serif;
	text-align:center;
	left:108px;
	bottom:30px;
}

.header .banner ul li img{
	position:relative;
	bottom:5px;
	width:25px;
	height:25px;
	margin:0;
	padding:0;
}
.header .banner ul{
	float:right;
	list-style-type: none;
	padding:0;
	margin:0;
	padding-left:30px;
	padding-right:30px;
}
.header .banner ul li{
	list-style-type: none;
	font-size: 15px;
	float:left;
}
.header .banner ul li a{
	color:gray;
	display: block;
	text-decoration: none;
	padding-top:10px;
	padding-right:5px;
	padding-left:5px;
}
.header .banner ul li a:hover{
	text-decoration:underline;
}

.buttons ul{
	display:flex;  /*centering with a flexbox*/
	justify-content: center;
	align-items: center;
	list-style-type: none;
}
.buttons ul li{
	padding:8px; /*space between list items*/
	position:relative;
	bottom:45px;
}
.buttons ul li button {
	width:120px;
	height:30px;
	font-family:arial, sans-serif;
	font-size:12px;
	font-weight: bold;
	background-color: #F2F2F2;
	color:rgb(117,117,117);
}
.buttons ul li button:hover{
	border-color: black;
	border-width: 2px;
	color:black;
}
p{
	font-family:arial, sans-serif;
	font-size:13px;
	position:relative;
	bottom:30px;
	left:20px;
	text-align: center;
}
.header .banner ul li button{
	font-size:8px
	width:43px;
	height:28px;
	position: relative;
	top:5px;
	padding-left:5px;
	background-color:#4285F4;
	color:white;
	font-weight: bold;
	border-width: 0px;
	border-radius: 2px;
}
.bottombar {
	background-color:#F2F2F2;
}
.bottombar ul{
	list-style-type: none;
	padding:0;
	margin:0;
}
.bottombar ul .left{ 
	padding:10px;
	float: left;
}
.bottombar ul .right{ 
	padding:10px;
	float: right;
}

